.header__nav-list {
    display: flex;
}

.header__nav-item {
    padding-left: 60px;
}

.header__nav-item a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.header__logout{
    border: none;
    font-size: 14px;
    background-color: #fff;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.userwork-header{
    display: flex;
    width: 1000px;
    height: 40px;
    padding-top: 5px;
}

.search{
    width: 50%;
    padding: 0 0 0 150px;
}

.search label {
    font-size: 14px;
}

.search__month{
    width: 18%;
    font-size:14px;
    text-align: center;
    border: none;
    background-color: rgb(244, 241, 241);
}

.search button{
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: rgb(105, 105, 105);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.user__name{
    margin: 10px 0 0 0;
    padding: 0 0 0 150px;
    font-size: 14px;
}

.userwork__table table {
    width: 1000px;
    margin: 5px auto;
}

.userwork__table th {
    padding: 5px 5px 5px 30px;
    width: 20%;
    text-align: left;
    border-top: 1px solid rgb(200, 197, 197);
    font-size: 13px;
}

.userwork__table td {
    padding: 5px 30px;
    width: 20%;
    text-align: left;
    border-top: 1px solid rgb(200, 197, 197);
    font-size: 13px;
}