.header__nav-list {
    display: flex;
}

.header__nav-item {
    padding-left: 60px;
}

.header__nav-item a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.header__logout{
    border: none;
    font-size: 14px;
    background-color: #fff;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.userlist {
    padding-top: 30px;
}

.userlist__form table {
    width: 800px;
    margin: 5px auto;
}

.userlist__form th {
    padding: 15px 5px 15px 30px;
    width: 20%;
    text-align: left;
    border-top: 1px solid rgb(200, 197, 197);
    font-size: 13px;
}

.userlist__form td {
    padding: 15px 30px;
    width: 20%;
    text-align: left;
    border-top: 1px solid rgb(200, 197, 197);
    font-size: 13px;
}

.userlist__work{
    padding: 8px 30px 8px 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: rgb(25, 64, 241);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form__paginate {
    text-align: center;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}